<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="assets/images/logo.png" alt="Landkit">
    </a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [(ngbCollapse)]="isCollapsed">
      <ul class="navbar-nav m-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/articles" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkActiveOptions">Articles</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn$ | async">
          <a class="nav-link" aria-current="page" routerLink="/favorites" routerLinkActive="active">Favorites</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-lg-0">
          <ng-container *ngIf="!(isLoggedIn$ | async); else logout">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" (click)="openModal(true)">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" (click)="openModal()">Sign Up</a>
            </li>
          </ng-container>
          <ng-template #logout>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Logout</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</nav>