<div class="searcher" *ngIf="showSearcher">
  <label class="searcher__icon">
    <svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20" aria-hidden="true">
      <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </label>

  <input
    type="text"
    class="searcher__input"
    placeholder="Search"
    [(ngModel)]="searchInput"
    [disabled]="!!(isLoading$ | async)"
    (keyup.enter)="search()"
    (keyup.esc)="searchInput = ''"
  />

  <span class="searcher__results" *ngIf="!(isLoading$ | async)">{{ postsCount$ | async }} RESULTS</span>

  <button
    type="button"
    class="btn btn-primary"
    (click)="search()"
    [disabled]="(isLoading$ | async)"
  >
    Search<ng-container *ngIf="(isLoading$ | async)">ing</ng-container>
  </button>
</div>
