$color-one: #506690;
$color-two: #335EEA;
$color-three: #F5F5F5;
$color-four: #869AB8;
$color-five: #161C2D;
$color-six: #F3F7FB;
$color-seven: #6B7C93;
$color-eight: #42BA96;
$color-nine: #B4C2D3;
$color-ten: #6E84A3;