@import 'colors';

.modal-body {
    padding: 0;
}

.title,
.subtitle {
    font-weight: 900;
}

.title {
    font-size: 30px;
    color: $color-five;
    margin-top: 10px;
}

.subtitle {
    font-size: 17px;
    color: $color-ten;
}

.image {
    background-image: url('../../../../public/assets/images/login.jpeg');
    background-size: cover;
    background-position: center;
}

.btn {
    --bs-btn-padding-y: 12px;
}
