/* You can add global styles to this file, and also import other style files */

// $input-height-border: 6px;

$form-floating-height: 50px;
$form-floating-padding-y: 12px;
$form-floating-padding-x: 20px;
$input-font-size: 14px;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

$roboto-font-path: "roboto-fontface/fonts" !default;
@import "roboto-fontface/css/roboto/sass/roboto-fontface";

$material-icons-font-path: 'material-icons/iconfont/';
@import 'material-icons/iconfont/material-icons.scss';

@import 'colors';

// regular style toast
@import 'ngx-toastr/toastr';

* {
  font-family: 'roboto';
}

body {
  background-color: $color-three;
}

.btn-primary {
  --bs-btn-bg: #{$color-two};
  --bs-btn-hover-bg: #{$color-one};
  --bs-btn-hover-border-color: #{$color-one};
}

.btn-outline-primary {
  --bs-btn-color: #{$color-two};
  --bs-btn-border-color: #{$color-two};
  --bs-btn-hover-bg: #{$color-one};
  --bs-btn-hover-border-color: #{$color-one};
}

.text-bg-success {
  background-color: #{$color-eight} !important;
}

.form-floating {
  > label {
    color: $color-four;
    font-weight: 900;
    font-size: 17px;
  }

  > .form-control:focus,
  > .form-control:not(:placeholder-shown),
  > .form-control-plaintext,
  > .form-select {
    ~ label {
      color: $color-four;
    }
  }
}
